@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base/variables.css';
@import 'components/button.css';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  height: 100%;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100%;
  position: relative;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  & .bar {
    background: darkcyan;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }

  & .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px darkcyan, 0 0 5px darkcyan;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
